.Pet {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s ease;
	border-radius: 6px;
}

/* On mouse-over, add a deeper shadow */
.Pet:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	filter: brightness(103%);
}

.PetAvailable {
	background-color: #fff;
	color: #988fff;
	font-weight: lighter;
}

.PetAdopted {
	background-color: #988fff;
	color: #fff;
}


